In [ ]:
import numpy as np
import pandas as pd

### Exercício-001
Crie uma matriz 3x3 com valores variando de 0 a 8:

In [ ]:
array = np.random.uniform(0, 9, size = (3,3))
print(array)

### Exercício-002
Adicione uma borda ao redor de uma matriz numpy. Utilize _fancy indexing_.

In [ ]:
def bordeador(matriz):
    rows, collumns = matriz.shape
    
    matriz_com_borda = np.zeros((rows+2, collumns+2), dtype = matriz.dtype)
    matriz_com_borda[1:-1, 1:-1] = matriz

    return matriz_com_borda

if __name__ == '__main__':
    matriz_exemplo = np.random.randint(1,10, (3,3))
    print('Aqui está uma matriz exemplo: ')
    print(matriz_exemplo, '\n')

    print('Aqui está a matriz exemplo com borda: ')
    print(bordeador(matriz_exemplo))

### Exercício-003
Mude a escala uma matriz numpy de dimensões 5x5 com a seguinte formulação:

$z=\frac{x_i-\bar{x}}{std(x)}$

In [ ]:
import numpy as np
# np.random.seed(0)

def convert_to_zscore(array):
    mean = array.mean()
    std = array.std()

    new_array = (array-mean)/std
    return new_array


if __name__ == '__main__':
    test_array = np.random.uniform(0,10, size = (5,5))
    z_array = convert_to_zscore(test_array)
    
    print('Este é o array aleatoriamente gerado: ')
    print(test_array)
    print()
    print('Este é o array convertido a Z-scores')
    print(z_array)

### Exercício-004
Crie um `array` numpy aleatório com 10 elementos e ordene utilizando um método da biblioteca numpy.

In [ ]:
array = np.random.randint(0, 10, (2,5))
print(array)

ordered_array = np.sort(array, axis = 1)
print(ordered_array)

### Exercícios-005
Considerando 2 `arrays` numpy unidimensionais com 10 valores execute as operações: `np.sum(A)`, `A * B`, `np.inner(A, B)`, `np.outer(A, B)`


e explique o funcionamento de cada operação

In [ ]:
print('Aqui está uma matriz exemplo chamada matriz_a: ')
matriz_a = np.arange(1, 11, 1)
print(matriz_a, '\n')

print('Aqui está outra matriz exemplo chamada matriz_b: ')
matriz_b = np.arange(11, 21, 1)
print(matriz_b, '\n')

print('A função np.sum() retorna o somatório de todos os valores presentes em uma matriz, a menos que especificado um eixo: ')
print(f'np.sum(matriz_a) == {np.sum(matriz_a)}\nnp.sum(matriz_b) == {np.sum(matriz_b)}\n')

print('A operação de multiplicação retorna uma terceira matriz com o valor correspondente da multiplicação de cada índice: \nNote que é diferente da operação matemática "multiplicação de matrizes": ')
print(f'matriz_a * matriz_b == {matriz_a * matriz_b}')

print('\nAs funções np.inner() e np.outer() retornam os produtos interno e externo/vetorial de uma matriz, respectivamente: ')
print(f'np.inner(matriz_a, matriz_b) == {np.inner(matriz_a, matriz_b)} --> o resultado sempre será um escalar.')
print(f'np.outer(matriz_a, matriz_b) == \n{np.outer(matriz_a, matriz_b)}')

# produto interno [a, b, c] * [d, e, f] = a*d + b*e + c*f
# produto externo

### Exercícios-006
Crie uma matriz no formato 10x3, extraia linhas com valores diferentes (exemplo: `[2, 2, 3]`):

In [ ]:
matriz_exemplo = np.random.randint(1, 31, (10,3))
print('Aqui está a matriz 10x3: ')
print(matriz_exemplo)

### Exercícios-007
Crie duas matrizes com números aleatórios no formato 2x3, e multiplique a primeira matriz pela transposta da segunda. Explique como o resultado da multiplicação das matrizes foi obtido.

In [ ]:
np.random.seed(0)

matriz_a = np.random.randint(1, 7, (2,3))
matriz_b = np.random.randint(1, 7, (2,3))

print('\nAqui está a primeira matriz 2x3 aleatória: ')
print(matriz_a)

print('\nAqui está a segunda matriz 2x3 aleatória: ')
print(matriz_b)

print('\nAqui está a segunda matriz transposta, \nEla foi obtida transformando as linhas em colunas e as colunas em linhas: ')
print(matriz_b.transpose())

print('\nAqui está o resultado da multiplicação: ')
print(np.matmul(matriz_a, matriz_b.transpose()))

print('''\nEla foi obtida através da operação matemática de multiplicação de matrizes, 
em que cada posição LxC (linha x coluna) corresponde ao somatório da multiplicação das colunas 
da primeira matriz pelas linhas da segunda matriz''')

### Exercício-008

Calcule o percentil de 80% no segundo eixo (_axis_) de uma matriz numpy.

In [ ]:
np.random.seed(0)

matriz = np.random.uniform(1, 50, size = (5,5))

print('Aqui está uma matriz 5x5 aleatória: ')
print(matriz)

print(f'\nAqui está o p80 no segundo eixo: p80 == {np.percentile(matriz, 80, 1)}')

### Exercício-009

Crie um programa utilizando pandas para disponibilizar um sumário básico de informações contidas em um _dataframe_:

Informações que devem constar no _dataframe_:

nome - ['Ana', 'Dilma', 'Catarina', 'João', 'Emilia', 'Michel', 'Mateus','Laura', 'Kevin', 'Jonas']

nota - [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]

tentativas - [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]

qualicacao - ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']

rotulos - ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
alunos = pd.DataFrame({
    'nome' : ['Ana', 'Dilma', 'Catarina', 'João', 'Emilia', 'Michel', 'Mateus','Laura', 'Kevin', 'Jonas'],
    'nota' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'tentativas' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualificacao' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'rotulos' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
})

display(alunos)

### Exercício-010
Escreva num programa para encontras os _n_ menores valores em um _dataframe_ pandas.

In [ ]:
def menores_valores(dataframe, n):
    array = dataframe.to_numpy()
    sortedarray = np.sort(array.flatten())
    
    return sortedarray[:n]

# Poderia usar também: print(df.stack().nsmallest(3))

if __name__ == '__main__':
    df = pd.DataFrame(np.random.randint(0, 100, size=(5, 4)), columns = list('ABCD'))
    print('Aqui está um dataframe aleatório: ')
    display(df)

    print('Aqui estão os 3 menores valores do dataframe: ')
    print(menores_valores(df, 3))
    # Poderia usar também: 
    # print(df.stack().nsmallest(3)) # -> retorna os menores valores COM posição na tabela

### Exercício-011
Escreva um programa para encontrar dentro de um intervalo fixado (exemplo: $a<x<b$) e substituí-los por 0.

In [ ]:
def replace_by_zero(dataframe, lower, upper):
    dataframe[(dataframe >=lower) & (dataframe <= upper)] = 0
    return dataframe


if __name__ == '__main__':
    print('Aqui está um dataframe aleatório: ')
    df = pd.DataFrame(np.random.randint(0, 100, size=(5, 4)), columns = list('ABCD'))
    display(df)

    print('Aqui está o dataframe com números entre 20 e 80 substituídos por 0: ')
    display(replace_by_zero(df, 20, 80))

### Exercício-012
Utilize os métodos `max` para encontrar o máximo de uma coluna em _dataframe_ pandas e depois `query` para encontrar onde os valores na coluna referida são menores que o máximo.

In [ ]:
def lower_than_max(dataframe, coluna):
    max_value = (dataframe.max()[coluna])
    print(f'O valor máximo em {coluna} é: {max_value}')
    print(f'Aqui estão as linhas onde o valor em {coluna} é menor que o máximo:\n')
    print(dataframe.query(f'{coluna} < @max_value'))

if __name__ == '__main__':
    print('Aqui está um dataframe aleatório: ')
    df = pd.DataFrame(np.random.randint(0, 100, size=(5, 4)), columns = ['coluna_A','coluna_B','coluna_C','coluna_D'])
    display(df)

    lower_than_max(df, 'coluna_A')

### Exercício-013
Remova os espaços na extremidade dos nomes das colunas e transforme em minúsculo utilizando o método `.str` para o conjunto de dados listado abaixo.

In [ ]:
df = pd.DataFrame({
    'Nome': ['Alberto Franco','Giovane Pereira','Reinaldo Oliveira', 'Elen Cavalcanti', 'Paulo Freire'],
    'Data_de_Nascimento ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'Idade': [18.5, 21.2, 22.5, 22, 23]
})

print('Dataframe original: ')
display(df)

df.columns = df.columns.str.lower().str.strip(' ').str.replace(' ', '_')
print('Dataframe com colunas formatadas:')
display(df)

### Exercício-014
Preencha os dados de um _dataframe_ nas posições em que os dados são nulos com um segundo _dataframe_ para o conjunto de dados listado abaixo.

In [221]:
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})

display(df1, df2)

     A  B
0  NaN  3
1  0.0  4
2  NaN  5

   A    B
0  1  3.0
1  1  NaN
2  3  3.0

### Exercício-015
Escreva um programa que primeiro concatena dois _dataframe_ e depois faz operação de união (`merge`) com um terceiro em uma coluna especificada para o conjunto de dados listado abaixo.

In [ ]:
dados_estudante1 = pd.DataFrame({
        'codigo': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Daniela', 'Riobaldo', 'Bruno', 'Eduardo', 'Monica'],
        'notas': [200, 210, 190, 222, 199]})

dados_estudante2 = pd.DataFrame({
        'codigo': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Isabela', 'Carla', 'Denise', 'Carmen', 'Madalena'],
        'notas': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'codigo': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'id_prova': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

### Exercício-016
Escreva um programa que faz operação de união (`merge`) utilizando mais de uma coluna para o conjunto de dados listado abaixo.

In [ ]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

display(data1)
display(data2)